@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Lorum Ipsum</h2>

    </div>
    <div class="col-md-3">
        <h2>Carpe noctem</h2>
        <ul>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>felix culpa </h2>
        <ul>

        </ul>
    </div>
</div>
